*{
    background-color: #f2f2f2;
  }
  
  
  .MainSection{
    /* border: 1px solid red; */
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    height: 30rem;
    justify-content: center;
    align-items: center;
  }
  
  .MainHeading{
    text-align: center;
    margin-top: 0px;
  
  }
  
  .Disease{
    font-size: 35px;
    color: #F58181 ;
    font-weight: bold;
    margin-top: 108px;
  
  }
  
  .Input{
    background-color: #D9D9D9;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin: 12px;
    width: 400px;
    height: 40px;
    color: #F58181;
    font-weight: bold;
    font-size: 14px;
  }
  
  
  .SendMessageBtn{
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 4px;
    margin: 3px;
    width: 133px;
    height: 40px;
    font-size: 15px;
    background-color: #F58181;
    color: #D9D9D9;
    font-weight: bold;
    cursor: pointer;
  }
  
  ::placeholder{
    color: #F58181;
    font-weight: bold;
    font-size: 14px;
  }
  
  .Image{
    width: 29em;
    height: 26em;
  }
  
  
  .DiseaseSection{
    /* border: 1px solid red; */
    display: flex;
    padding: 5px;
    height: 34em;
  }
  
  .ImageSection{
    /* border: 1px solid green; */
    padding: 10px;
    width: 28em;
    
  }
  
  .PredictionSection{
    overflow: auto;
    scrollbar-width: auto;
    /* border: 1px solid blue; */
    padding: 10px;
    margin-left: 5em;
    width: 28rem;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  